<div id="blue">
  <div class="container">
    <div class="row">
      <h3>{{vm.place.name}} {{vm.place.model_name}}</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<div class="container mtb">
  <div class="row">  
    <!-- SINGLE POST -->
    <div class="col-lg-8">
      

      <div class="row">
      <div class="col-md-12"><p> {{vm.place.name}} {{vm.place.model_name}} has <strong>{{vm.place.facility_count}}</strong> health facilities.</p></div>
        <div class="col-md-12"><h3>Health Facilities in {{vm.place.name}} {{vm.place.model_name}}</h3></div>
        <div class="col-md-6" ng-repeat="facility in vm.facilities" itemtype itemscope="https://schema.org/MedicalOrganization">
          <div class="panel panel-info health-facility-list-item">
            <div class="panel-heading">
              <a href="/health-facility/{{facility.slug}}/{{facility.id}}" property="item" typeof="WebPage">
                <span itemprop="name">{{facility.name}}</span>
              </a>
            </div>
            <div class="panel-body">
              <strong>24Hr</strong>: <span ng-show="facility.twenty_four_hour">Yes</span><span ng-hide="facility.twenty_four_hour">No</span><br/>
              <strong>Open Weekends</strong>: <span ng-show="facility.open_weekends">Yes</span><span ng-hide="facility.open_weekends">No</span><br/>
              <strong>Status</strong>: {{facility.get_status_display}}<br/>
              <br/>
              <strong>Location</strong>: {{facility.location_description}}<br/>  
              <strong>Nearest Town</strong>: {{facility.nearest_town}}<br/>
            </div>
          </div>
        </div> 
        <div class="col-md-12">
          <nav>
            <ul class="pagination">
              <li ng-show="vm.facilities.next">
                <a href="javascript:void(0)" ng-click="vm.next()" aria-label="Next">
                  <span aria-hidden="true">&raquo; Load More</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div><!--/col-lg-8 -->


    <!-- SIDEBAR -->
    <div class="col-lg-4">
      <h4>Search</h4>
      <div class="hline"></div>
      <p>
        <br/>
        <form role="form" ng-submit="vm.submit()">
          <div class="input-group">
            <input type="text" name="q" id="search" class="form-control"  ng-model="vm.q" placeholder="Search anything">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </p>

      <div class="spacing"></div>

    </div>

  </div><!--/row -->
</div><!--/container -->