<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Search</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<div class="container mtb">
  <div class="row">  
    <!-- SINGLE POST -->
    <div class="col-lg-8">
      

      <div class="row">
        <div class="col-md-12"><h3>Health Facilities</h3></div>
        <div ng-show="vm.facilities.length">
          <div class="col-md-6" ng-repeat="facility in vm.facilities" itemtype itemscope="https://schema.org/MedicalOrganization">
            <div ng-bind-html="facility.rendered"></div>
          </div> 
          <div class="col-md-12">
          <nav>
            <ul class="pagination">
              <li ng-show="vm.facilities.previous">
                <a href="javascript:void(0)" ng-click="vm.back()" aria-label="Previous">
                  <span aria-hidden="true">&laquo; Back</span>
                </a>
              </li>
              <li ng-show="vm.facilities.next">
                <a href="javascript:void(0)" ng-click="vm.next()" aria-label="Next">
                  <span aria-hidden="true">&raquo; Next</span>
                </a>
              </li>
            </ul>
          </nav>
          </div>
        </div>
        <div ng-hide="vm.facilities.length">
          <div class="col-md-12"><p>No results found, sorry.</p></div>
        </div>
      </div>

    </div><!--/col-lg-8 -->


    <!-- SIDEBAR -->
    <div class="col-lg-4">
      <h4>Search</h4>
      <div class="hline"></div>
      <p>
        <br/>
        <form role="form" ng-submit="vm.submit()" ng-controller="SearchController as vm">
          <div class="input-group">
            <input type="text" name="q" id="search" class="form-control"  ng-model="vm.q" placeholder="Search anything">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Go!</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </p>

      <div class="spacing"></div>

     
    </div>

  </div><!--/row -->
</div><!--/container -->