.home-buttons {
	margin-top:10px;
}


#service {
    margin-top: 40px;
    margin-bottom: 40px;
}

#cwrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar-header .navbar-brand {
    color: #fff!important;
}


@media (min-width: 768px) {
	.health-facility-list-item {
		min-height:240px;
	}
}