<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html lang="en">
  <head>
    <base href="{% url 'home' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00b3fe">
    <meta name="google-site-verification" content="ER9X2II02v-5pM6Xwl0K01bfSJWDwX8_eop3PQkBnQE" />

    {% block meta_keywords %}<meta name="keywords" content="hospitals, health facilities, dispensaries" />{% endblock %}
    {% block meta_description %}<meta name="description" content="Search and find hospitals, dispensaries, clinics and other health facilities anywhere in Kenya. Quickly access hospital name, information, phone numbers, addresses and more." />{% endblock %}
    {% block other_meta %}{% endblock %}
    <title>{% block title %}{% block page_title %}{% endblock %} | {{ site.name }}{% endblock %}</title>
    <link rel="Shortcut Icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    {% compress css inline %}
        {% if DEBUG_MODE %}
            <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'bower_components/tabs/tabs.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'solid/css/style.css' %}" />
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'computed_components/combined.css' %}" />
            <style>
                .navbar-collapse.in {
                    overflow-y: auto;
                }
                .collapse.in {
                    display: block;
                }
            </style>
        {% endif %}
        {% block extracss %}{% endblock %}
    {% endcompress %}

    {% block extrahead %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if not DEBUG_MODE %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4533628918380852",
        enable_page_level_ads: true
      });
    </script>
    {% endif %}
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">AFYA360.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block all_content %}{% endblock %}

    <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" id="about">
            <h4>About Afya360</h4>
            <div class="hline-w"></div>
            <p>Afya360 is a modern and easy to use directory of health facilities in Kenya.  Search and find hospitals, dispensaries, clinics and other health facilities anywhere in Kenya. Quickly access hospital name, information, phone numbers, addresses, directions and more.</p>
            <p>Our mission is to help <strong>liberate data</strong> and information about health facilities in Kenya so that you, and others, can benefit from this.</p>
            <p>The data that you find on this site is courtesy of the Ministry of Health of Kenya and the Kenya National Bureau of Statistics through the <a href="http://www.ehealth.or.ke/">Master Health Facility List</a> and the <a href="https://www.opendata.go.ke">Kenya Open Data Initiative</a> respectively.</p>
          </div>
        </div><!--/row -->
      </div><!--/container -->
    </div><!--/footerwrap -->

    {% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}" defer></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}" defer></script>

    {% block extrajs %}{% endblock %}
    {% endcompress %}

    {% block extrafooter %}{% endblock %}
  </body>
</html>
