<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html lang="en" ng-app="afya360">
  <head ng-controller="MetaController as vm">
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block meta_keywords %}<meta name="keywords" content="hospitals, health facilities, dispensaries" />{% endblock %}
    {% block meta_description %}<meta name="description" content="Search and find hospitals, dispensaries, clinics and other health facilities anywhere in Kenya. Quickly access hospital name, information, phone numbers, addresses and more." />{% endblock %}
    {% block other_meta %}{% endblock %}
    <title ng-bind="vm.pageMeta.title()">{% block title %}Afya360{% endblock %}</title>
    <link rel="Shortcut Icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    {% compress css inline %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'solid/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />   
    {% block extracss %}{% endblock %}
    {% endcompress %}

    {% block extrahead %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">SOLID.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="single-post.html">SINGLE POST</a></li>
                <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block all_content %}{% endblock %}

    <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>About</h4>
            <div class="hline-w"></div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
          <div class="col-lg-4">
            <h4>Social Links</h4>
            <div class="hline-w"></div>
            <p>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-tumblr"></i></a>
            </p>
          </div>
          <div class="col-lg-4">
            <h4>Our Bunker</h4>
            <div class="hline-w"></div>
            <p>
              Some Ave, 987,<br/>
              23890, New York,<br/>
              United States.<br/>
            </p>
          </div>

        </div><!--/row -->
      </div><!--/container -->
    </div><!--/footerwrap -->

    {% compress js %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}" defer></script>

    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}" defer></script>
    {%if DEBUG_MODE %}
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}" defer></script>
    {% else %}
    <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}" defer></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'bower_components/restangular/dist/restangular.min.js' %}" defer></script>

    <script type="text/javascript" src="{% static 'app/afya360.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'app/afya360.config.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'app/afya360.routes.js' %}" defer></script>

    <script type="text/javascript" src="{% static 'app/facilities/facilities.module.js' %}" defer></script>  
    <script type="text/javascript" src="{% static 'app/facilities/controllers/facilities.controller.js' %}" defer></script>  

    <script type="text/javascript" src="{% static 'app/layout/layout.module.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'app/layout/controllers/home.controller.js' %}" defer></script>    
    <script type="text/javascript" src="{% static 'app/layout/controllers/place.controller.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'app/layout/controllers/search.controller.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'app/layout/controllers/meta.controller.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'app/layout/services/meta.service.js' %}" defer></script>    

    <script type="text/javascript" src="{% static 'js/scripts.js' %}" defer></script>   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}" defer></script>

    {% block extrajs %}{% endblock %}
    {% endcompress %}

    {% block extrafooter %}{% endblock %}
  </body>
</html>
