{% extends "base.html" %}

{% block all_content %} 
  <div id="top" class="jumbotron">
    <div class="container">      

      <h1>The Kenya Directory for Health Facilities </h1>

      <p>Search and find hospitals, dispensaries, clinics and other health facilities anywhere in Kenya. Quickly access hospital name, information, phone numbers, addresses and more.</p>

      <form role="form" ng-submit="vm.submit()" ng-controller="SearchController as vm">
        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" name="q" id="search" ng-model="vm.q" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>

      {# <p><a class="btn btn-primary btn-lg">Sign Up Today <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p> #}
      
    </div> <!-- /.container -->
  </div> <!-- /.jumbotron -->

  <div class="container">
    <h3 id="features" class="subhead">Features</h3>
    <div class="row benefits">
      <div class="col-xs-12 ng-view"></div>
    
      <div class="col-md-4 col-sm-6 benefit">
        <div class="benefit-ball">
          <span class="glyphicon glyphicon-home"></span>
        </div>
        <h3>Benefit Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div> <!-- /.benefit -->

      <div class="col-md-4 col-sm-6 benefit">
        <div class="benefit-ball">
          <span class="glyphicon glyphicon-cloud"></span>
        </div>
        <h3>Benefit Title</h3>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div> <!-- /.benefit -->

      <div class="col-md-4 col-sm-6 benefit">
        <div class="benefit-ball">
          <span class="glyphicon glyphicon-bell"></span>
        </div>
        <h3>Benefit Title</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
      </div> <!-- /.benefit -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <div class="container">
    <h3 id="faqs" class="subhead">Frequently Asked Questions</h3>
    <div class="row faqs">
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div> <!-- /.faqs -->
  </div> <!-- /.container -->
{% endblock %}