{% extends "base.html" %}

{% block all_content %}
	<div id="headerwrap">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-8 col-lg-offset-2">
	        <h1>Kenya Directory of Health Facilities</h1>
	        <h3>Search and find hospitals, dispensaries, clinics and other health facilities anywhere in Kenya. Quickly access hospital name, information, phone numbers, addresses, directions and more</h3>

	        <div class="row">
	          <div class="col-lg-8 col-lg-offset-2">
	            <div class="home-buttons">
	              <form role="form">
	                <div class="input-group">
	                  <input type="text" name="q" id="search" class="form-control input-lg" placeholder="Search anything">
	                  <span class="input-group-btn">
	                    <button class="btn btn-success btn-lg" type="submit">Go!</button>
	                  </span>
	                </div><!-- /input-group -->
	              </form>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div><!-- /row -->
	  </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<div id="service">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12"><h3>Featured</h3></div>
	      {% for facility in facilities %}
	      <div class="col-md-6" itemtype itemscope="https://schema.org/MedicalOrganization">
	        <div class="panel panel-info health-facility-list-item">
	          <div class="panel-heading">
	            <a href="{% url 'health_facility' facility.slug facility.id %}" property="item" typeof="WebPage">
	              <span itemprop="name">{{facility.name}}</span>
	            </a>
	          </div>
	          <div class="panel-body">
	            <strong>24Hr</strong>: <span>Yes</span><span>No</span><br/>
	            <strong>Open Weekends</strong>: <span>Yes</span><span>No</span><br/>
	            <strong>Status</strong>: {{facility.get_status_display}}<br/>
	            <br/>
	            <strong>Location</strong>: {{facility.location_description}}<br/>
	            <strong>Nearest Town</strong>: {{facility.nearest_town}}<br/>
	          </div>
	        </div>
	      </div>
	      {% endfor %}
	    </div>
	  </div><!--/container -->
	</div>

	<div id="cwrap">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-12">
	        <div>
	          <tabs>
	            <pane title="Counties">
	              <ul class="list-group row">
	              	{% for county in counties %}
	                <li class="list-group-item col-md-3 col-sm-4 col-xs-6">
	                  <a href="/place/county/{{county.slug}}/{{county.id}}">{{county.name}}</a>
	                </li>
	                {% endfor %}
	              </ul>
	            </pane>
	            <pane title="Constituencies">
	              <ul class="list-group row">
	              	{% for constituency in constituencies %}
	                <li class="list-group-item col-md-3 col-sm-4 col-xs-6">
	                  <a href="/place/constituency/{{constituency.slug}}/{{constituency.id}}">{{constituency.name}}</a>
	                </li>
	                {% endfor %}
	              </ul>
	            </pane>
	          </tabs>
	        </div>
	      </div>
	    </div><!--/row -->
	  </div><!--/container -->
	</div><!--/cwrap -->
{% endblock %}
