{% extends "base.html" %}

{% block all_content %} 
  <div id="top" class="jumbotron">
    <div class="container">
      <h1>The fox jumps over the lazy dog</h1>
      <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</h2>
      <p><a class="btn btn-primary btn-lg">Sign Up Today <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
    </div> <!-- /.container -->
  </div> <!-- /.jumbotron -->

  <div class="container">
    <h3 id="features" class="subhead">Features</h3>
    <div class="row benefits">
      <div class="col-md-4 col-sm-6 benefit">
        <div class="benefit-ball">
          <span class="glyphicon glyphicon-home"></span>
        </div>
        <h3>Benefit Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div> <!-- /.benefit -->

      <div class="col-md-4 col-sm-6 benefit">
        <div class="benefit-ball">
          <span class="glyphicon glyphicon-cloud"></span>
        </div>
        <h3>Benefit Title</h3>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </div> <!-- /.benefit -->

      <div class="col-md-4 col-sm-6 benefit">
        <div class="benefit-ball">
          <span class="glyphicon glyphicon-bell"></span>
        </div>
        <h3>Benefit Title</h3>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu.</p>
      </div> <!-- /.benefit -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->

  <div class="container">
    <h3 id="faqs" class="subhead">Frequently Asked Questions</h3>
    <div class="row faqs">
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
      <p class="col-md-4 col-sm-6">
        <strong>Lorem ipsum dolor sit amet?</strong><br>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim
        ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
      </p>
    </div> <!-- /.faqs -->
  </div> <!-- /.container -->
{% endblock %}