{% extends "base.html" %}

{% load i18n %}

{% block page_title %} {{object.name}} {{object.meta.verbose_name}} {% trans "Health Facilities" %}  {% endblock %}

{% block all_content %}
  <div id="blue">
    <div class="container">
      <div class="row">
        <h3>{{object.name}} {{object.model_name}}</h3>
      </div><!-- /row -->
    </div> <!-- /container -->
  </div><!-- /blue -->


  <div class="container mtb">
    <div class="row">
      <!-- SINGLE POST -->
      <div class="col-lg-8">


        <div class="row">
          <div class="col-md-12"><p> {{object.name}} {{object.meta.verbose_name}} has <strong>{{object.facility_count}}</strong> health facilities.</p></div>
          <div class="col-md-12"><h3>Health Facilities in {{object.name}} {{object.meta.verbose_name}}</h3></div>

          {% for facility in facilities %}
            {% include "health_facilities/list_item.html" %}
          {% endfor %}

          <div class="col-md-12">
            <nav>
              <ul class="pagination">
                <li ng-show="vm.facilities.next">
                  <a href="javascript:void(0)" ng-click="vm.next()" aria-label="Next">
                    <span aria-hidden="true">&raquo; Load More</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div><!--/col-lg-8 -->


      <!-- SIDEBAR -->
      <div class="col-lg-4">
        {% include "snippets/sidebar.html" %}
      </div>

    </div><!--/row -->
  </div><!--/container -->
{% endblock %}
